@import "tailwindcss";

@font-face {
  font-family: font;
  src: url(../public/fonts/Lausanne-300.woff2);
  src: url(../public/fonts/Lausanne-500.woff2);
}

body {
  background-color: #111;
  color: #fff;
}