* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    /* Add your base styles here */
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #111;
}

.parent {
    height: 100vh;
    width: 100%;
    background-color: #958e8e;
    padding: 30px;
}

.card {
    height: 400px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
    padding: 30px;
}

.card .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.top img {
    height: 30px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #dada;
    padding: 32;
}