* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    /* Add your base styles here */
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #111;
}

.parent {
    height: 100vh;
    width: 100%;
    background-color: #958e8e;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
    padding: 30px;
    margin-bottom: 30px;
}

.card .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #dada;
    padding: 32;
}

.top button {
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 5px;
    gap: 30px;
    color: #fefafa;
    background-color: transparent;
}


.center h3 {
    font-size: 17px;
    font-weight: 500;
}

.center h3 span {
    font-size: 9px;
    font-weight: 400;
    color: #958e8e;
}

.center h2 {
    font-size: 20px
}

.center .tag {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.center .tag h4 {
    font-size: 14px;
    background-color: rgb(104, 102, 102);
    color: white;
    padding: 3px 6px;
    font-weight: 400;
    border-radius: 8px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid #7f7676;
    padding-top: 10px;
}

.bottom h3 {
    font-size: 17px;

}

.bottom p {
    font-size: 18px;
    color: #8b8b8b;
}

.bottom button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;

}