* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    /* Add your base styles here */
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #111;
}

.parent{
    padding: 20px;
    display: flex;
    flex-wrap:wrap;
    
}

.card {
    width: 300px;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(51, 54, 54);
}

.card p{
    margin: 20px 0px;
}

.card button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}

.card img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: contain;
}